body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p, span, tr, th, td, div, ul, li, input, label, textarea {
  font-family: 'Montserrat', sans-serif;
}

.font-20 {
  font-size: 20px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-18 {
  font-size: 18px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.drop-shadow {
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
}

.altrus-bg-1 {
  background-color: #1b2559eb;
}

.pagination {}

.register label {
  margin-bottom: 0px;
  font-size: 14px;
}

.register .form-group {
  margin-bottom: 28px;
}

.register input {
  border-radius: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 30px;
  background-color: #EFEFF0;
  border: none;
}

.register select {
  border-radius: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 30px;
  background-color: #EFEFF0;
  border: none;
}

.register button {
  background-color: #3D7FBD;
  color: white;
  width: auto
}

.bg-admin {
  background-color: #3D7FBD;
  min-height: 100vh;
}

.sidebar {
  min-height: 100vh;
  border-right: 1px solid #E5E5E5;
}

.signoutLink {
  position: fixed;
  bottom: 20px;
  width: 16.666667% !important;
}

@media (max-width: 768px) {
  .sidebar {
    min-height: inherit;
  }

  .signoutLink {
    position: inherit;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100% !important;
  }

  .font-36 {
    font-size: 30px !important;
  }
}

.admin-dashboard {}

.login-title {
  font-size: 96px;
  line-height: 96.77px;
  font-family: 'Azonix';
  margin-bottom: 15px;
}

.login-form {
  max-width: 419px;
  margin: 0 auto;
}

.login-form input {
  background-color: rgb(255, 255, 255, 0.7);
  height: 57px;
  border-radius: 10px !important;
}

.login-form .input-group-text {
  background-color: transparent;
  border: 0;
}

.logo {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.admin-header {}

.user-logo {
  border-bottom: 1px solid #E5E5E5;
}

.user-logo img {
  width: 60px;
  border-radius: 50%;
  margin: 0 auto;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #E5E5E5;
  width: 100%;
}

/* .sidebar .menuItem {
  width: 100%
} */

.sidebar .selected {
  background-color: #E3F2FD;
  color: #3D7FBD;
}

.notes {
  border-radius: 16px;
}

.note-header {
  border-bottom: 1px solid #E5E5E5;
}

.even {
  background-color: #E3F2FD;
}

.faq {
  border-radius: 16px;
  height: calc(100vh - 120px);
}

.faq-footer {
  bottom: 20px;
  right: 50%;
}

.promotions img {
  width: 100%;
}

.patient {
  border-radius: 16px;
  height: calc(100vh - 120px);
}

.patient .patient-tr {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.patient-item {
  cursor: pointer;
}

.patient .patient-td {
  flex: 0 0 20%;
  max-width: 20%;
}

.patient-table-header {
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
}

.position-footer {
  bottom: 0;
  right: 50%;
}

.table-client-store table tr th {
  padding-top: 0;
  padding: 5px;
  border: 0;
}

.table-client-store table tr td {
  padding: 5px;
}

.dentrolux-rounded-lg {
  border-radius: 10px !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F5FBFF;
}

table tbody tr td {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.top-border {
  border-top: 1px solid #E5E5E5;
}

.dentrolux-pagination-icon .material-icons {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.react-calendar {
  border: none !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.react-calendar__month-view__days button {
  padding: 5px;
  font-size: 12px;
}

.dentrolux-bg-primary {
  background-color: #3D7FBD;
}

.react-calendar__tile--active {
  background-color: #3D7FBD !important;
  border-radius: 6px;
}

.react-calendar__tile--now {
  border-radius: 6px;
}

.appointSelected {
  background-color: #E3F2FD;
}

.width-100 {
  min-width: 100px;
}